body {
    background-color: #000000;
    color: #FFA525 !important;
    font-family: Consolas;
    font-size: medium;
    margin: 0;  /* Remove default margin */
    padding: 0; /* Remove default padding */
} 

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
}

.text-content {
    flex: 1;
    margin-right: 20px;
}

.text-content p {
    margin-bottom: 20px;
}

.image-content {
    flex-shrink: 0;
}

.image-content img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

.publications, .teaching {
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
    text-align: left; /* Left align text */
}

.publications p, .teaching p {
    margin-bottom: 20px;
}

h1, h2 {
    text-align: center;
    color: #FFA525;
}

h3 {
    text-align: center;
    color: #FFA525;
}

h4 {
    text-align: left;
    color: #651EF8;
}

a:link {
    color: #FC52E3;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 194, 225);
}
  
/* a:visited {
    color:  #cc00ff;
    background-color: transparent;
    text-decoration: none;
} */

img {
    float: left;
    margin-right: 20px; /* Adjust as needed */
}

p {
    display: block;
    margin: 10;
    padding: 5;
}

.guestbook {
    margin-top: 20px;
    border-top: 2px solid #000;
    padding-top: 10px;
}